// logo 圖片取代文字
// 使用方式 <h1 class="logo">GYMPlus</h1>
h1.logo {
  background: no-repeat url(logo.svg);
  background-size: cover;
  width: 140px;
  height: 80px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
h2.logo {
  background: no-repeat url(logo_white.svg);
  background-size: cover;
  width: 140px;
  height: 80px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

// 讀取圖示：line-md--loading-twotone-loop
// 使用方式 <span class="line-loading-loop"></span>
.line-loading-loop {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='3'%3E%3Cpath stroke-dasharray='60' stroke-dashoffset='60' stroke-opacity='0.3' d='M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='1.17s' values='60;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='15' stroke-dashoffset='15' d='M12 3C16.9706 3 21 7.02944 21 12'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.27s' values='15;0'/%3E%3CanimateTransform attributeName='transform' dur='1.35s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-color: $white;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: -0.35em;
}

// 圖片遮罩，使用方式：
// <div class="position-relative">
//   <img src=""/>
//   <div class="img-mask">
//  </div>
.img-mask {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.2s;
  &:hover {
    background: none;
  }
}

.banner{
  height: 460px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: $primary;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $primary;
    width: 75%;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      background-color: $primary;
      border-radius: 40px 0 0 0;
      height: 100%;
      width: 30px;
    }
  }
}
.bookmark{
  border-radius: 50%;
  align-self: flex-end;
  border: 0;
  background-color: $dark;
  width: 48px;
  height: 48px;
  z-index: 1000;
}
.overlay-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  & .overlay-img{
    border-radius: 50%;
    border: 0px solid;
    border-image: linear-gradient(110.77deg, #655AEA -6.41%, #95E2FF 107.79%);
    background: linear-gradient(110.77deg, #655AEA -6.41%, #95E2FF 107.79%);
    width: 48px;
    height: 48px;
  }
}
.card .overlay-text:hover{
  opacity: 1;
}